.sidebar{
    height: auto;
    position: relative;
    width: 20vw;
    background: #F2F3F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    -webkit-box-shadow: 0.4vh 0 0.5vh 0 rgba(0,0,0,0.10); 
    box-shadow: 0.4vh 0 0.5vh 0 rgba(0,0,0,0.10);
    z-index: 100;
    border-color: gray;
    border-width: 0.2vw 0.2vw 0 0;
    border-style: solid;
}

.sidebar > div:first-child{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar > div:first-child > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
}



.sidebar > div:first-child > div:nth-of-type(2) > button{
    width: 100%;
    height: 6vh;
    border: none;
    background: transparent;
    color: rgb(121, 121, 121);
    font-size: 1.8vh;
    text-align: start;
    padding-left: 1vh;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1.5vh;
    align-items: center;
    justify-content: center;
}
.sidebar > div:first-child > div:nth-of-type(2) > button > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    gap: 1vw;
    width: 70%;
    font-size: 2vh;
    height: auto;
}
.sidebar > div:first-child > div:nth-of-type(2) > button:hover{
    /* background: rgba(255, 250, 250, 1); */
    -webkit-box-shadow: inset 0px 0px 13px -8px rgba(0,0,0,0.51); 
    box-shadow: inset 0px 0px 13px -8px rgba(0,0,0,0.51);
}

.sidebar > div:first-child > div:nth-of-type(2) > button > div > svg {
    height: 2.5vh;
    aspect-ratio: 1/1;
    align-self: center;
}

.sidebar > div:first-child > div:nth-of-type(2) > button > div > p {
    font-size: 1.75vh;
}

.sidebar > div:first-child > div:nth-of-type(3){
    height: 5vh;
    width: 100%;
}