.sidebar{
    height: auto;
    position: relative;
    width: 4vw;
    background: var(--color-background-shade);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0.4vh 0 0.5vh 0 rgba(2, 38, 1,0.10); 
    box-shadow: 0.4vh 0 0.5vh 0 rgba(2, 38, 1,0.10);
    z-index: 100;
}

.sidebar button{
    width: 100%;
    height: 6vh;
    position: relative;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.tooltip {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.9rem;
    white-space: nowrap;
    margin-left: 10px; 
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    z-index: 1000;
    pointer-events: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.tooltip::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent #333 transparent transparent;
}

.sidebar button:not(.active):hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.logo{
    height: 10vh;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.logo > svg{
    width: 2.5vw;
    height: auto;
    overflow: visible;
}

.menu{
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
}
.menu > button {
    background: transparent;
    color: snow;
    cursor: pointer;
}
.menu > button > svg{
    font-size: 1.5vw;
    color: var(--color-icon-secondary-light);
}

.menu > button:hover {
    background: transparent;
}
.menu > button:hover > svg{
    color: var(--color-icon-primary-light);
}

.menu .active {
    background: var(--color-background-tint)!important;
}
.menu .active > svg{
    color: var(--color-icon-active)!important;
}
.footer{
    height: auto;
    width: 100%;
}

.footer > button{
    background: snow;
    color: #09090B;
}

.menu, .footer svg {
    font-size: 1vw;
}