# ---------------------------------------------------------------- #
# IGNORAR ARQUIVOS GERAIS DE PROJETOS DE DESENVOLVIMENTO
# ---------------------------------------------------------------- #
.DS_Store
Thumbs.db
*.log
mongo-keyfile
node_modules/
/package-lock.json
.env
.env.prod.template
# Se usar IDEs como IntelliJ ou VS Code
.idea/
.vscode/