.sharingCreate {
    position: relative;
    height: 65vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-radius: 1vh;
    gap: 1vw;

}

.sharingCreate > div{
    height: 100%;
}
.sharingCreate > div:nth-of-type(1){
    width: 35vw;
}
.sharingCreate > div:nth-of-type(2){
    width: 32.5vw;
}
.currentSharing{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3vh;
}

.listInput {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2vh;
}

.listInput > textarea {
    position: relative;
    width: 100%;  /* Largura fixa */
    height: 100%; /* Altura fixa */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
    outline: none;
}
.listInput > button{
    width: 100%;
    height: 4vh;
    background: #94d902;
    outline: none;
    border: none;
    border-radius: 1vh;
}
.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}
.form > form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: auto;
    gap: 2vh;
}
.form  > form > div:nth-of-type(1) {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 1vh
}


.form > form > div:nth-of-type(1) > textarea{
    width: 100%;
    height: 15vh;
    outline: none;

    padding: 2vh;
    border: none;
    box-sizing: border-box;
}

.form > form > div:nth-of-type(2){
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form > form > div:nth-of-type(2) > div{
    display: flex;
    width: 40%;
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
}

.form > form > div:nth-of-type(2) > div > p{
    font-size: 2vh;
}

.dataPicker{
    position: relative;
    height: 5vh;
    width: 100%;
    outline: none;
    border: none;
    background: snow;
    font-size: 2vh;
    border-radius: 1vh;
    margin-top: 1vh;
}
.react-datepicker-popper {
  position: absolute;
  z-index: 10; /* Garante que o calendário fique sobre outros elementos */
}
.form > form > button{
    width: 100%;
    height: 4vh;
    background: #94d902;
    outline: none;
    border: none;
    border-radius: 1vh;
}

.adminValidation {
    position: relative;
    width: 100%;  /* Largura fixa */
    height: 100%; /* Altura fixa */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5vh;
    box-sizing: border-box;
}

.adminValidation > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.product {
    width: auto;
    height: auto;
    display: flex;
    margin: 0 2vh 0 0;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    background: snow;
}
.product > div {
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.product > div > div{
    padding: 1vh;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: peru;
}
.product > div:nth-of-type(1) {
    width: 100%;
}

.product > div:nth-of-type(1) > div:nth-of-type(1) {
    width: 100%;
    background: gray;
}

.product > div:nth-of-type(1) > div:nth-of-type(2) {
    width: 100%;
    background: yellow;
}
.product > div:nth-of-type(2) {
    width: 35%;
    background: salmon;
}

.product > div:nth-of-type(2) > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.product > div:nth-of-type(2) > div:nth-of-type(1){
    background: plum;
    text-align: center;
    overflow: hidden;    /* Hides any content that overflows the element's box */
    text-overflow: ellipsis;
}

.product > div:nth-of-type(2) > div:nth-of-type(2){
    background: lightgreen;
    text-align: center;
    font-size: 1.5vh;
    width: 100%;
    text-overflow: ellipsis;
}
