@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* --- Font Configuration --- */
  --font-sans: "Nunito", sans-serif;

  /* --- Identidade Principal (Tríade da Marca) --- */
  --color-identity-primary: #8EA637;
  --color-identity-secondary: #C9F2AC;
  --color-identity-tertiary: #022601;

  /* --- Sistema de Backgrounds (Superfícies) --- */
  --color-background-light: #F2E8C9;
  --color-background-dark: #400101;
  --color-background-tint: #F1F8E9;
  --color-background-shade: #02590F;

  /* --- Cores Neutras Estruturais --- */
  --color-border-light: #E6DCC3;
  --color-border-dark: #2C1A1A;
  --color-disabled: #A89F91;
  --color-overlay: #022601;

  /* --- Sistema Tipográfico (Hierarquia) --- */
  --color-title-dark: #400101;
  --color-title-light: #F2E8C9;
  --color-subtitle-dark: #5C4B3F;
  --color-subtitle-light: #C9F2AC;
  --color-body-dark: #212121;
  --color-body-light: #FBF8F1;
  --color-label-dark: #6D6D6D;
  --color-label-light: #A89F91;

  /* --- Cores de Sombreamento --- */
  --color-shadow-float: #400101;
  --color-shadow-dense: #022601;

  /* --- Call to Action (Destaques) --- */
  --color-accent: #F2622E;
  --color-highlight: #F2A341;

  /* --- Call de Icones (Iconografia) --- */
  --color-icon-primary-dark: #400101;
  --color-icon-primary-light: #F2E8C9;
  --color-icon-secondary-dark: #5C4B3F;
  --color-icon-secondary-light: #A89F91;
  --color-icon-invert-dark: #F2E8C9;
  --color-icon-invert-light: #400101;
  --color-icon-active: #F2622E;

  /* --- Cores de Feedback (Status) --- */
  --color-success: #2ECC71;
  --color-error: #D9042B;
  --color-warning: #F2C84B;
  --color-info: #2F80ED;

}

@layer base {
  html {
    color-scheme: light;
  }
  
  html.dark {
    color-scheme: dark;
  }

  html, body, #root {
    @apply h-full w-full m-0 p-0;
  }

  body {
    @apply font-sans antialiased;
  }
}