@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body, #root, main {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif; 
  -webkit-font-smoothing: antialiased; 
}

.Inter-Thin { font-weight: 100; }
.Inter-Light { font-weight: 300; }
.Inter-Regular { font-weight: 400; }
.Inter-Medium { font-weight: 500; }
.Inter-Semibold { font-weight: 600; }
.Inter-Bold { font-weight: 700; }
.Inter-Black { font-weight: 900; }