* {margin: 0;}

html,body,#root, main{
    height: 100%;
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap');

.Inter-Thin {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
}

.Inter-Light {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.Inter-Regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.Inter-Medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.Inter-Semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.Inter-Bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.Inter-Black {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}