.container{
    height: 85vh;
    width: 80vw;
    background: red;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.container > div{
    background: blue;
    width: 50%;
    height: 100%;
}
