.container{
    width: 100%;
    height: 100%;
    background: snow;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.cycleStatusInfo{
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 1vh;;
}
.currentCycle{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
}

.currentCycle > div:first-child{
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
}
