.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.leftPanel {
  height: 100%;
  width: 55%;
  background-color: var(--color-background-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  background-image: radial-gradient(circle at 2vh 2vh, rgba(2, 89, 15, 0.1) 0.2vh, transparent 0);
  background-size: 24px 24px;
}

.contentWrapper {
  width: 70%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bannerContainer {
  width: 60%;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.bannerContainer > svg {
  width: 100%;
  height: auto;
  display: block;
}

.rightPanel {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-tint);
  position: relative;
  box-shadow: -5px 0 15px rgba(2, 38, 1, 0.2);
}

@media (max-width: 599px) {
  .container {
    height: 100%;
    width: 100%;
  }
  .leftPanel {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .rightPanel {
    width: 100%;
    height: 100%;
  }
}
