.starterPack{
    height: 91vh;
    width: 100%;
    background: snow;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.starterPack > div:first-child{
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.starterPack > div:first-child > div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.starterPack > div:first-child > div:nth-of-type(1) > div{
    width: 30vw;
    font-size: 3vh;
}

.starterPack > div:first-child > div:nth-of-type(2) > div{
    width: 40vw;
    font-size: 2.2vh;
}