.container{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    overflow-y: scroll;
}

.container > div:first-child{
    height: auto;
    margin-top: 10vh;
    width: 70vw;
    position: relative;
    display: flex;
    padding: 2vh;
    border-radius: 1vh;
    background: lightgray;
    flex-direction: column;
}
